.container{
    display:flex;
    flex-direction: row;
    margin: 20px;
    text-align: center;
    justify-content: space-around;
    height: 500px;
    width: 1000px;
    padding: 100px;
    gap: 200px;
    flex-wrap: wrap;

}
.box{
    background-color: brown;
    color: black;
    border-radius: 10px solid black;
    height: 600;
    width: 1000;
    flex-grow:5 ;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
}
p{
    background-color: blue;
    color: wheat;
    padding: 20px; 
    margin: 2px;
}