body{
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
}
.card{
    height: 200px;
    width: 200px;
    padding: 60px;
    background-color: azure;
    border-radius: 5px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    

}
.book{
    text-align: center;
    background-color: yellow;
    color: black;
}
.headphone{
    text-align: center;
    background-color: red;
    color:black
}
.watch{
    text-align: center;
    background-color: aqua;
    color: black;
}